<div class="container-fluid">
    <div class="form-group">
        <form class="form-inline" name="login" action="login.php" method="POST" style="width: 50%; margin: auto; float: none;">
            <legend style="text-align: center;"><h3>Aby korzystać z serwisu musisz się zalogować</h3></legend>
            <label for="email">Adres e-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <label for="pwd">Hasło</label>
            <input type="password" class="form-control" id="pwd" name="password" required>
            <button type="submit" class="btn btn-success">Zaloguj się</button>
        </form>
    </div>
</div>
                

